<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ladder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
таблица
<!--<div>
    <h1>Рейтинговая таблица</h1>
    <table class="table table-striped">
        <tr>
            <th>Username</th>
            <th>Average trys</th>
        </tr>
        <tr th:each="count : ${counts}">
            <td th:text="${count.id}"></td>
            <td th:text="${count.name}"></td>
        </tr>
    </table>
</div>-->
</body>
</html>