<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ladder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <h1>Рейтинговая таблица</h1>
    <table border="4" bordercolor="#000000">
        <tr>
            <th>Username</th>
            <th>Average trys</th>
        </tr>
        <tr th:each="user : ${ladder}">
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getCountOfTrys()}"></td>
        </tr>
    </table>
</div>
</body>
</html>