<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ladder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <h1>Рейтинговая таблица</h1>
    <table border="4" bordercolor="#000000">
        <thead>
        <tr>
            <th>Username</th>
            <th>Average trys</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="l : ${ladder}">
            <td th:text="${l.getUserName()}">Username</td>
            <td th:text="${l.getAvg()}">Average trys</td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <br>
    <br>
    <b>
        Чтобы сыграть снова перезапустите приложение.
    </b>
</div>
</body>
</html>